header{
    text-align: center;
}
header h1{
    float: left;
}
header li{
    float: right;
}
.mainvisual{
    width: 100%;
    height: 600px;
}
.about h2{
    text-align: center;
    border-bottom:5px solid black ;
}
.about img{
    float: left;

}
.bycycle h2{
    border-bottom: 5px solid black;
    text-align: center;
}
.bycycle li{
    float: left;

}
footer{
    text-align: center;
}
