header h1{
    color:white;
    background-color:black;
    width:120px;
    height:40px;
    line-height:60px;
}
.header-list li {
    font-size:14px;
    float:left;
    padding-left: 30px;
    line-height:60px;
}
header{
    height:60px;
    width:64%;
}
.main-visual{
    width:auto;
    height:600px;
}
.about h2{
    border-bottom:1px solid black;

}
.about{
    text-align:center;
}
.about img{
    border-radius:50px;
}
.about h3{
    text-align:left;
}
.bicycle h2{
    border-bottom:1px solid black;
}
.bicycle{
    display:flex;
    text-align:center;
}
.bicycle li{
    flex:auto;
}
